@model HomeViewModel;

@{
    ViewData["Title"] = "Doliprane";
}

@section Styles {
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
}

@section Scripts {
    <script src="~/js/home.js" type="module" asp-append-version="true" defer></script>
}

<div class="container">
    <div class="medication">
        <select id="person">
            @foreach (var person in Model.Persons) {
                @if (person.Key == Model.PersonId) {
                    <option value="@person.Key" selected>@person.Value</option>
                } else {
                    <option value="@person.Key"> @person.Value </option>
                }
            }
        </select>
        <select id="drug">
            @foreach (var drug in Model.Drugs) {
                <option value="@drug.Key">@drug.Value</option>
            }
        </select>
        <a href="#" id="custom-date-link">Personnaliser la date et l'heure</a>
        <div class="datetime" id="custom-date">
            <input type="date" id="date" />
            <input type="time" id="hour" />
        </div>
        <button id="add">Ajouter</button>
    </div>
    <div class="next-medication">
        <div>
            <span>Depuis 4h</span><span class="next-medication-since">@(Model.Medication4 ? "✅" : "❌")</span>
        </div>
        <div>
            <span>Depuis 6h</span><span class="next-medication-since">@(Model.Medication6 ? "✅" : "❌")</span>
        </div>
    </div>
    <div class="history">
        <span>Historique des dernières 48h</span>
        @foreach (MedicationViewModel medication in Model.Medications) {
            <div class="history-date">
                <span>@medication.Date</span>
                @foreach (MedicationDetailViewModel detail in medication.Details) {
                    <div class="history-detail">
                        <span>@detail.Hour</span>
                        <span>@detail.Drug</span>
                    </div>
                }
            </div>
        }
    </div>
</div>
