@model HomeViewModel;

@{
    ViewData["Title"] = "Doliprane";
}

@section Styles {
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
}

@section Scripts {
    <script src="~/js/button-test.js" type="module" asp-append-version="true"></script>
    <script src="~/js/home.js" type="module" asp-append-version="true"></script>
}

<div style="display: none">
    <svg id="doliprane" viewBox="0 0 58 58">
        <path style="fill:#ff0000" d="m 37.727767,47.771454 c -0.946995,-0.129067 -2.426204,-0.63283 -3.214642,-1.094788 -1.09654,-0.64248 -1.765035,-1.256753 -6.176389,-5.675422 l -4.294749,-4.301872 0.07117,-0.536502 c 0.113751,-0.857496 0.656263,-2.20944 1.350379,-3.365153 2.549176,-4.244416 7.464223,-8.227347 10.693563,-8.665578 l 0.562327,-0.07631 4.556022,4.573159 c 4.356312,4.372698 5.038316,5.134864 5.622308,6.283154 1.328915,2.613018 1.214128,6.019964 -0.286149,8.493092 -0.968567,1.596632 -2.20333,2.73309 -3.811964,3.508478 -1.59642,0.769501 -3.436294,1.080655 -5.071876,0.857742 z" />
        <path style="fill:#ffff00" d="m 17.521442,30.164515 c -3.34069,-3.3539 -5.600172,-5.703556 -5.839927,-6.072993 -0.9493,-1.462767 -1.394482,-2.84072 -1.481382,-4.585261 -0.181108,-3.635808 1.844743,-6.965433 5.172432,-8.501248 2.921499,-1.3483472 6.311493,-1.0254323 8.958383,0.853333 0.285331,0.202529 2.957291,2.797806 5.937689,5.767284 l 5.418906,5.39905 -0.867374,0.282706 c -2.334732,0.760966 -4.907343,2.517776 -7.228998,4.93661 -2.135524,2.224912 -3.545311,4.360236 -4.236278,6.416453 -0.164206,0.488655 -0.317912,0.907818 -0.341569,0.931474 -0.02366,0.02366 -2.495003,-2.418678 -5.491882,-5.427408 z m 0.265422,-3.921479 c 0.337595,-0.337594 0.18742,-0.569906 -1.430644,-2.213122 -1.774392,-1.801975 -2.022025,-2.140901 -2.413014,-3.302589 -0.366797,-1.089809 -0.323871,-2.427456 0.110772,-3.451833 0.157385,-0.37093 0.308811,-0.795288 0.336501,-0.943018 0.06517,-0.347688 -0.214948,-0.635116 -0.577942,-0.593027 -0.219713,0.02548 -0.337552,0.161789 -0.61031,0.705991 -0.858808,1.713478 -0.845216,3.740468 0.03744,5.583623 0.337003,0.703727 0.589676,1.0077 2.150588,2.587218 1.815989,1.837636 2.036235,1.987133 2.396611,1.626757 z" />
    </svg>
</div>

<div class="container">
    <div class="title">
        Doliprane
        <svg>
            <use xlink:href="#doliprane"></use>
        </svg>
    </div>
    <div class="medication">
        <div class="persons">
            @foreach (var person in Model.Persons) {
                <input type="radio" name="person" id="person_@(person.Key)"
                       data-value="@person.Key"
                       @(person.Key == Model.PersonId ? "checked" : "") />
                <label for="person_@(person.Key)" class="persons-item">
                    <img src="img/person_@(person.Key).png" alt="" />
                    <span>@person.Value</span>
                </label>
            }
        </div>
        <select id="drug">
            @foreach (var drug in Model.Drugs) {
                <option value="@drug.Key">@drug.Value</option>
            }
        </select>
        <a href="#" id="custom-date-link">Personnaliser la date et l'heure</a>
        <div class="datetime" id="custom-date">
            <input type="date" id="date" />
            <input type="time" id="hour" />
        </div>
        <div class="action">
            <button id="add">Ajouter</button>
            <button-test></button-test>
        </div>
    </div>
    <div class="progress-bar-container">
        @foreach (TimeProgressBar timeProgressBar in Model.TimeProgressBars.Where(timeProgressBar => timeProgressBar.Visible)) {
            <time-progress-bar
                data-caption="@timeProgressBar.Caption"
                data-tooltip="@timeProgressBar.Tooltip"
                data-current="@timeProgressBar.CurrentValue"
                data-max="@timeProgressBar.MaxValue"
                data-max-full-width="@timeProgressBar.MaxWidthValue"
                data-opinion="@timeProgressBar.Opinion">
            </time-progress-bar>
        }
    </div>
    @if (Model.Medications.Count > 0) {
        <div class="history">
            <span>Historique des dernières 48h</span>
            @foreach (MedicationViewModel medication in Model.Medications) {
                <div class="history-date">
                    <span>@medication.Date</span>
                    @foreach (MedicationDetailViewModel detail in medication.Details) {
                        <div class="history-detail">
                            <span>@detail.Hour</span>
                            <span>@detail.Drug</span>
                        </div>
                    }
                </div>
            }
        </div>
    }
</div>
